<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container justify-container:center">
      <a class="navbar-brand" href="#">GiphyApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav nav-link Home" aria-current="page" href="#" (click)="gettrendinggifs()"><button class="button offset">Trending</button></a>
          <a class="nav nav-link Reactions" href="#" (click)="searchreactiongifs()"><button class=" button offset">Reactions</button></a>
          <a class="nav nav-link Entertainment" href="#" (click)="searchentertainentgifs()"><button class=" button offset">Entertainment</button></a>
          <a class="nav nav-link Sports" href="#"(click)="searchsportsgifs()" ><button class=" button offset">Sports</button> </a>
          <a class="nav nav-link logout" href="#"><button class=" button offset">Logout</button> </a>
        </div>
      </div>
    </div>
  </nav>
