 
  img {
    max-width: 100%;
    display: block;
    border-radius: 15px;
  }
  
  figure {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
  }
  
  figure > img {
    grid-row: 1 / -1;
    grid-column: 1;
  }
  .container {
    column-count: 4;
    column-gap: 10px;
  }
  